# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.env.*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing/Coverage
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Type checkers
.mypy_cache/
.pyre/

# Editor/OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
